@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes bounce {
    0%{
    transform: scale(1,1) translate(0px, 0px);
    }

    30%{
    transform: scale(1,0.8) translate(0px, 10px); 
    }

    75%{
    transform: scale(1,1.1) translate(0px, -25px); 
    }

    100% {
    transform: scale(1,1) translate(0px, 0px);
    }
}

.area {
    z-index: -999;
    background: black;
    width: 100%;
    height: 100%;
  }
  
  .circles {
    z-index: -999;
    position: fixed;
    top: 0;
    list-style-type: circle;
    list-style: circle;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .circles li {
    z-index: -999;
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    bottom: -150px;
  }

  .circles li img{
    height: 70px;
    width: 70px;
  }
  
  .circles li:nth-child(1) {
    background:none;
    left: 25%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(2) {
    background:none;
    left: 10%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(3) {
    background: none;
    left: 70%;
    width: fit-content;
    height: fit-content;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(4) {
    background: none;
    left: 40%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    background: none;
    left: 65%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    background: none;
    left: 75%;
    width: fit-content;
    height: fit-content;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(7) {
    background: none;
    left: 35%;
    width: fit-content;
    height: fit-content;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(8) {
    background: none;
    left: 50%;
    width: fit-content;
    height: fit-content;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(9) {
    background: none;
    left: 20%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(10) {
    background: none;
    left: 85%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  .circles li:nth-child(11) {
    background: none;
    left: 25%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(12) {
    background: none;
    left: 10%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(13) {
    background: none;
    left: 70%;
    width: fit-content;
    height: fit-content;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(14) {
    background: none;
    left: 40%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(15) {
    background: none;
    left: 65%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(16) {
    background: none;
    left: 75%;
    width: fit-content;
    height: fit-content;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(17) {
    background: none;
    left: 35%;
    width: fit-content;
    height: fit-content;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(18) {
    background: none;
    left: 50%;
    width: fit-content;
    height: fit-content;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(19) {
    background: none;
    left: 20%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(20) {
    background: none;
    left: 85%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 11s;
  }

  .circles li:nth-child(21) {
    background:none;
    left: 25%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(22) {
    background:none;
    left: 10%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(23) {
    background: none;
    left: 70%;
    width: fit-content;
    height: fit-content;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(24) {
    background: none;
    left: 40%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(5) {
    background: none;
    left: 65%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(6) {
    background: none;
    left: 75%;
    width: fit-content;
    height: fit-content;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(27) {
    background: none;
    left: 35%;
    width: fit-content;
    height: fit-content;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(28) {
    background: none;
    left: 50%;
    width: fit-content;
    height: fit-content;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(29) {
    background: none;
    left: 20%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(30) {
    background: none;
    left: 85%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  .circles li:nth-child(31) {
    background: none;
    left: 25%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(32) {
    background: none;
    left: 10%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  
  .circles li:nth-child(33) {
    background: none;
    left: 70%;
    width: fit-content;
    height: fit-content;
    animation-delay: 4s;
  }
  
  .circles li:nth-child(34) {
    background: none;
    left: 40%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  
  .circles li:nth-child(35) {
    background: none;
    left: 65%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
  }
  
  .circles li:nth-child(36) {
    background: none;
    left: 75%;
    width: fit-content;
    height: fit-content;
    animation-delay: 3s;
  }
  
  .circles li:nth-child(37) {
    background: none;
    left: 35%;
    width: fit-content;
    height: fit-content;
    animation-delay: 7s;
  }
  
  .circles li:nth-child(38) {
    background: none;
    left: 50%;
    width: fit-content;
    height: fit-content;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  
  .circles li:nth-child(39) {
    background: none;
    left: 20%;
    width: fit-content;
    height: fit-content;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  
  .circles li:nth-child(40) {
    background: none;
    left: 85%;
    width: fit-content;
    height: fit-content;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
  
    100% {
      transform: translateY(-2000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

body{
    background-color: #FCDEC0;
    overflow-x: hidden;
    padding-bottom: 30px;
    padding-top: 50px;
}

* {
    margin-left: 10px;
    margin-right: 10px;
    overflow-x: hidden;
}

.sub-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: #7D5A50;
}

#navbar{
    display: flex;
}

#navbar-logo{
    width: 50%;
}

#logo-svg{
    height:100px;
}

#navbar-list{
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

#navbar-list-items{
    list-style-type: none;
    display: flex;
}

.navbar-item{
    margin-left: 50px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.navbar-item a{
    color: #7D5A50;
    text-decoration: none;
    background-image:linear-gradient(#B4846C,#B4846C);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 0% 0.1em;
    transition: background-size 0.2s ease-in-out;
    font-size: 20px;
}

.navbar-item a:hover{
    font-weight: bold;
    background-position-x:0% ;
    background-size: 100% 0.1em;
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    background-color: #7D5A50;
    z-index: 1;
    margin:0px;
    padding: 20px;
}

.navbar-item-sticky{
    color: #FCDEC0 !important;
    background-image:linear-gradient(#E5B299,#E5B299) !important;
}


#intro{
    margin-top: 75px;
    display: flex;
    margin-right: 0px;
}

#intro-txt{
    margin-top: 30px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

#intro-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    color: #7D5A50;
}

#intro-img{
    width: 55%;
    justify-content: right;
    margin-right: 0px;
} 

#intro-svg{
    height: 800px;
    margin-right: 0px;
}

#landing-svg{
    display: none;
}

#order-now-btn{
    margin-top: 50px;
    width: 40%;
    background-color: #7D5A50;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 20px;
    font-size: x-large;
    border: none;
}

#order-now-btn a{
    text-decoration: none;
    color: white;
}

#order-now-btn:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

#about{
    margin-top: 100px;
}

#about-header{
    display: flex;
    align-items: center;
}

#about-img{
    width: 50%;
    margin-left: -40px !important; 
}

#about-svg{
    height: 500px;
}

#about-title{
    width: 50%;
}

#about-heading{
    text-align: center;
}

#about-body{
    width: 70%;
    margin-top: 100px !important;
    background-color: #7D5A50;
    padding: 40px;
    margin: auto;
}

#about-body-txt{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    color: white;
}

#products{
    margin-top: 150px;
    overflow-x: visible !important;
}

#products-title{
    width: 50%;
    text-align: center;
}

.product-panel{
    display: flex;
    flex-direction: column;
    background-color: #7D5A50;
    width:80%;
    align-items: center;
    margin: auto;
    overflow-x: visible !important;
}

.product-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 600px;
    margin-top: 50px;
    overflow-x: visible !important;
}

.product-info{
    width: 30%;
    text-align: left;
}

.product-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.product-summary{
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    font-size: 25px;
    color: #C3C3C3;
    margin-top: 50px;
}

.product-view-btn{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #B4846C;
    border: none;
    padding: 20px;
    width:50%;
    margin-top: 50px;
}

.product-view-btn a{
    text-decoration: none;
    color: white;
}

.product-view-btn:hover{
    animation: bounce 0.75s;
}

.product-img{
    margin-right: -20px !important;
    margin-bottom: 20px !important;
    position:absolute;
}


.product-img-outer-box{
    background-color: #B4846C;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-img-inner-box{
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-svg{
    height: 500px;
}

#spotify-plaque-img{
    left: 620px;
    bottom: 80px;
}

#spotify-plaque-info{
    margin-left: 50px;
}

#transparent-frame-container{
    flex-direction: row-reverse;
}

#transparent-frame-img{
    right: 650px;
    top: 30px;
}

#transparent-frame-info{
    margin-right: 50px;
}

#product-panel-2{
    margin-top: 400px;
}

#vintage-brass-frame-img{
    left: 620px;
    bottom: 80px;
}

#mobile-backcover-img{
    right: 650px;
    top: 30px;
}

#mobile-backcover-container{
    flex-direction: row-reverse
}

#vintage-brass-frame-info{
    margin-left: 50px;
}

#mobile-backcover-info{
    margin-right: 50px;
}

#product-panel-3{
    margin-top: 400px;
}

#bookmarks-img{
    left: 620px;
    bottom: 80px;
}

#polaroids-img{
    right: 650px;
    top: 30px;
}

#polaroids-container{
    flex-direction: row-reverse
}

#bookmarks-info{
    margin-left: 50px;
}

#polaroids-info{
    margin-right: 50px;
}

#reviews{
    display: flex;
    margin-top: 300px;
    align-items: center;
}

.review-container{
    width: 50%;
    display: flex;
    background-color: #7D5A50;
    border-radius: 5%;
    overflow-x: visible !important;
}

.review-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    overflow-x: visible !important;
}

.review-img{
    height: 200px;
}

.review-name{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.review-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: light;
    color: #C3C3C3;
    text-align: center;
}

#review-previous-icon-2{
    display: none;
}

#review-next-icon-2{
    display: none;
}

.review-previous{
    height: 50px;
    align-self: center;
    transition: 0.7s;
    overflow-x: visible !important;
}

.review-previous:hover{
    transform: rotate(-360deg);
}

.review-next{
    height: 50px;
    align-self: center;
    transition: 0.7s;
    overflow-x: visible !important;
}

.review-next:hover{
    transform: rotate(360deg);
}

#review-title{
    width: 50%;
    text-align: center;
}

#review-progress{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.review-dot{
    height: 15px;
    width: 15px;
    background-color: #C3C3C3;
    border-radius: 50%;
    opacity: 0.3;
}


#contact{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    overflow-x: visible !important;
}

#contact-icons{
    width:70%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    overflow-x: visible !important;
}

.flip-container {
    perspective: 1000;
    background: transparent;
}

.flip-container:hover .flipper{
    transform: rotateY(180deg);
}

.social-icon,
.flip-container,
.flipper,
.front,
.back,
.social-icon-image {
    margin: 0px;
    width: 80px;
    height: 80px;
    overflow-x: visible !important;
}

.flipper {
    transition: 0.7s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    transform: rotateY(180deg);
}

#footer{
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}