body{
    margin: 0px;
    background-color: #FCDEC0;
}

* {
    margin-left: 10px;
    margin-right: 10px;
}

#navbar{
    display: flex;
    margin-top: 50px;
}

#navbar-logo{
    width: 50%;
}

#logo-svg{
    height:100px;
}

#navbar-list{
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

#navbar-list-items{
    list-style-type: none;
    display: flex;
}

.navbar-item{
    margin-left: 50px;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#intro{
    margin-top: 75px;
    display: flex;
}

#intro-txt{
    margin-top: 30px;
    width: 45%;
    display: flex;
    flex-direction: column;
}

#intro-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    color: #7D5A50;
}

#intro-img{
    width: 55%;
    justify-content: right;
} 

#intro-svg{
    height: 800px;
}

#order-now-btn{
    background-color: #7D5A50;
    color: white;
    font-family: 'Poppins',sans-serif;
}