body{
    margin: 0px;
    background-color: #FCDEC0;
}

#navbar{
    display: flex;
}

#logo{
    width: 50%;
    height:100px;
}

#navbar-list{
    width: 50%;
    list-style-type: none;
}

.navbar-item{
    font-family: 'Poppins';
    font-weight: 600;
}